html{
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding:0;
}
body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #333;
  color: #fff;
  line-height: 1;
  height: 100vh;
}
.container{
  width: 100%;
  height: 100%;
/* Css smooth Scroll*/
}
.navbar{
  position: fixed;
  top:0;
  z-index: 100;
  display: flex;
  width:100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
}
.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li{
  margin:0;
  padding: 1rem;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;

}
.navbar ul li a:hover{
  color: skyblue;
  height: 60px;
}
.ccb{
  border-bottom: 1px solid #86ff8;
  width: 100%;
  height: 30%;
  background-image: url("CraftyCircusBackground.png");
}
.iconic{
  width: 4%;
  height: auto;
  margin-left: 48%;
  margin-top: -1px;
}
.Welcome{
  margin-top: 20px;
  font-size: 60px;
  color: #d6ed17ff;
text-transform: uppercase;
}
.lineDiv{
  width: 64%;
  border-bottom: 1px solid #d6ed17ff;
  margin-left:19%;
  margin-bottom: 5px;
}
.bot{
  width: 26%;
  height: 26%;
  margin-left: 37%;
}
.generalText{
  font-size: 16px;
}
.panel{
  position: relative;
  width: 100%;
  height: 803px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #d6ed17ff;
  border-left: none;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
}
.sideBar{
  height: 100%;
  width: 15%;
  float:left;
  background-color: rgba(255, 255, 255, 0.01);
  border-right: 1px solid rgba(214, 237, 23, 0.2);
  text-transform:uppercase;
  color: #ccffcc;
}
.sideBar header{
  font-size: 25px;
  text-align: center;
  line-height: 150px;
  color: #d6ed17ff;
  background: rgba(255, 255, 255, 0.01);
  z-index: 12;
}
.sideBar ul li{
position: relative;
display: block;
height: 100%;
width: 100%;
padding-top: 90px;
font-size: 18px;
vertical-align: bottom;
padding-left: 10px;
box-sizing: border-box;
border-top: 1px solid rgba(214, 237, 23, 0.2);
z-index: 10;
}
.sideBar ul li Selection{
padding-top:50px ;
}
.KhoaChibi{
  -webkit-filter: brightness(40%);
  background-image: url("KhoaChibi.jpg");

}

.KhoaChibi:hover{
  -webkit-filter: brightness(150%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.KentChibi{
  -webkit-filter: brightness(40%);
  background-image: url("Kent.jpg");
}

.KentChibi:hover{
  -webkit-filter: brightness(150%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.PhongChibi{
  -webkit-filter: brightness(40%);
  background-image: url("Phong.jpg");
}
.PhongChibi:hover{
  -webkit-filter: brightness(150%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.NhatChibi{
  -webkit-filter: brightness(40%);
  background-image: url("Nhat.jpg");
}
.NhatChibi:hover{
  -webkit-filter: brightness(150%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.TpChibi{
  -webkit-filter: brightness(40%);
  background-image: url("TeamProfile.jpg");
}
.TpChibi:hover{
  -webkit-filter: brightness(150%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.IdealJob{
  -webkit-filter: brightness(40%);
  background-image: url("IdealJob.jpg");
}
.IdealJob:hover{
  -webkit-filter: brightness(150%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.contentPanel{
  width: inherit;
  height:inherit;
  z-index: 1;
}
#AchievementID {
  opacity: 0;
  position:absolute;
  top:0;
  left: 15%;
  height: inherit;
  width: 85%;
  z-index: 2;
}
.Achiecontainer{
  position:relative;
  float:  left;
  width: 40%;
  padding-top: 5%;
  padding-left: 7%;
  height: auto;
  z-index: 3;
}
#AchievementID img{
  width: 100%;
  border-bottom: 20px solid black;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
  z-index: 1;
}
#AchievementID container:hover p{
  opacity: 1;
}
#AchievementID p1{
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  padding: 5% 5%;
  top:0;
  bottom:0;
  right:0;
  width: 5%;
  z-index: 5;
  opacity: 1;
  background-color: rgba(0,0,0,.7);
  height: auto;
  text-align: center;
  font-size: 40px;
}
#AchievementID p1 arrow{
  position: absolute;
  height: 13%;
  top:37.5%;
}
#AchievementID p{
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  padding: 5% 5%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: auto;
  z-index: 5;
  opacity: 0;
   background-color: black;
  height: auto;
  border-bottom: 20px solid black;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
  transition: .5s ease;
  text-align: left;
  font-size: 12px;
}
#IdealJobTab{
  position: absolute;
  top:0;
  left: 15%;
  height: inherit;
  width: 85%;
  z-index: 0;
  opacity: 0;
}
#IdealJobTab div{
  position: relative;
  height: 100%;
  width: 100%;
}
#IdealJobTab div speechBubble{
  position: absolute;
    background-color: #26272b;
		color: white;
		font-size: 12px;
		line-height: 1.1;
    padding: 15px 25px;
    max-width: 41.5%;
    cursor: default;
}
#IdealJobTab div speechBubble:nth-child(2n+1){
  border-right: 5px solid
}
#IdealJobTab div speechBubble:nth-child(2n+1)::after{
  content: '';
				margin-top: -30px;
				padding-top: 0px;
				position: relative;
				bottom: -45px;
				left: 20px;
				border-width: 30px 0 0 30px;
				border-style: solid;
				border-color: #26272b transparent;
				display: block;
				width: 0;
}
#IdealJobTab div speechBubble:nth-child(2n){
  border-left: 5px solid
}
#IdealJobTab div speechBubble:nth-child(2n)::after{
  content: '';
				margin-top: -30px;
				padding-top: 0px;
				position: relative;
				bottom: -45px;
				left: 20px;
				border-width: 30px 0 0 30px;
				border-style: solid;
				border-color: #26272b transparent;
				display: block;
				width: 0;
}
#IdealJobTab div speechBubble:nth-child(4n+1)
{
  border-color:#01AD9B;
  top: 3%;
  left: 3%;
}
#IdealJobTab div speechBubble:nth-child(4n+2)
{
  border-color: #ff8750;
  top:10%;
  right: 3%;
}
#IdealJobTab div speechBubble:nth-child(4n+3)
{
  border-color: #56b273;
  top: 48%;
  left: 3%;
}
#IdealJobTab div speechBubble:nth-child(4n+4)
{
  border-color: #b388dd;
  top: 55%;
  right: 3%;
}
#IdealJobTab div speechBubble p::before{
  content: "“";
		font-family: Georgia;
		font-size: 40px;
		 line-height: 0;
		 display: inline-block;
		display: -webkit-inline-box;
    padding-top: 2%;
}
#IdealJobTab div speechBubble userName{
  display: inline;
  font-size: 16px;
	font-style: italic;
  float: right;
}
#IdealJobTab div speechBubble userName::before{
  content: "-";
}
.PictureShow{
  width: inherit;
  height:inherit;
  background-image:url("PennyWise.jpg");
}
.NameTitle{
  padding-top: 150px;
  margin-left: 275px;
  color: #bff098;
  font-size: 50px;
  line-height: 70px;
}
.GradientLine{
  margin-left: 275px;
  height: 5px;
  width: 300px;
  background-image: linear-gradient(to right,#d885ff,#1eae98);
}
.IDContent{
  margin-top: 10px;
  margin-left: 275px;
  font-size: 20px;
  color: gold;
}
.content{
  margin-top: 10px;
  margin-left: 275px;
  font-size: 14px;
  line-height: 1.5;
  width:500px;
}
.LineCut{
  position: relative;
  margin-top: 20px;
  background-color: rgba(255,255,255,1);
  height: 400px;
  width: 98%;
  margin-left: 1%;
  border-top: 1px solid rgba(255,255,255,.95);
  color: black;
}
.NameTag{
  position: relative;
  width: 20%;
  display: block;
  float:left;
  height: inherit;
}
.NameTag b{
  position: absolute;
  top: 70px;
  font-size: 50px;
  padding: 10px;
  margin-top: 60px;
  margin-left: 20px;
}
.NameTag strong{
  position: absolute;
  top: 120px;
  font-size: 14px;
  padding: 10px;
  margin-top: 70px;
  margin-left: 20px;
}
.NameTag p{
  position: absolute;
  bottom: 15px;
  font-size: 14px;
  padding: 10px;
  margin-top: 70px;
  margin-left: 10px;
}
.NameTag div{
  position: absolute;
  bottom: 14px;
  height: 8px;
  width: 150px;
  background-image:linear-gradient(to right, #c0392b,#8e44ad);

  margin-top: 70px;
  margin-left: 40px;
}
.WebsiteTag{
  width: 35%;
  display: block;
  float:left;
  height: inherit;
}
.WebsiteTag tagName{
  position: absolute;
  top: 15px;
  left: 20%;
  text-transform: uppercase;
  font-weight: bold;
  float:left;
}
.WebsiteTag tagLine{
  position: absolute;
  top: 35px;
  left: 20%;
  height: 5px;
  width: 70px;
  margin-left: 10px;
  background-image: linear-gradient(to right,#a9f1df, #ffbbbb);
  float:left;
}
.WebsiteTag img{
  position: relative;
  margin-top: 10%;
  width: 19.3%;
  margin-left: .7%;
  height: 70%;
  display: block;;
  float: left;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}
.WebsiteTag img:hover{
  filter:brightness(80%);
}
.WebsiteTag name{
  position: relative;
  float:left;
  bottom: -10px;
  left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.WebsiteTag name p{
  display: block;
  float:left;
  margin-right: 35px;
}
.GitHubTag{
  width: 15%;
  display: block;
  float:left;
  height: inherit;
}
.GitHubTag tagName{
  position: absolute;
  left: 55%;
  top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  float:left;
}
.GitHubTag tagLine{
  position: absolute;
  top: 35px;
  left: 55%;
  height: 5px;
  width: 70px;
  margin-left: 10px;
  background-image: linear-gradient(to right,#a9f1df, #ffbbbb);
  float:left;
}
.GitHubTag img{
  position: relative;
  margin-top: 23.5%;
  margin-left: 5%;
  width:90%;
  height: 70%;
  display: block;
  float: left;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.9);
}
.GitHubTag img:hover{
  filter:brightness(80%);
}
.GitHubTag p{
  position: relative;
  float:left;
  bottom: -10px;
  left: 20px;
  margin-right: 37px;
  text-transform: uppercase;
  font-weight: bold;
}
.DescriptionTag{
  width: 30%;
  display: block;
  float:left;
  height: inherit;
}
.DescriptionTag tagName{
  position: absolute;
  top: 15px;
  left: 70%;
  text-transform: uppercase;
  font-weight: bold;
  float:left;
}
.DescriptionTag tagLine{
  position: absolute;
  top: 35px;
  left: 70%;
  height: 5px;
  width: 140px;
  margin-left: 10px;
  background-image: linear-gradient(to right,#a9f1df, #ffbbbb);
  float:left;
}
.DescriptionTag div{
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:12%;
  height: 70%;
  width: 90%;
}
.DescriptionTag div li{
  position: relative;
  list-style: disc;
  display: list-item;
  line-height: 1.5;
  margin-left: 5%;
  width:90%;
  float: left;
}
.topPanel{
  margin-top: 100px;
  height: 500px;
  width: 100%;
  background-color:rgba(0,0,0,.5);
  transform: skewY(6deg);
  border-top: 3px solid rgba(255,255,255,.3);
}
.recovery{
  transform: skewY(-6deg);
  margin-top: 0px;
  height: 80%;
}
.IndustryDataTitle{
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  font-size: 60px;
  color: #d6ed17ff;
  text-transform: uppercase;
}
.recovery p{
  font-size: 14px;
  margin-left: 3%;
  margin-right: 55%;
  line-height: 1.3;
  margin-bottom: 20px;
}
.recovery img{
  display: block;
  float: right;
  margin-right: 10%;
}
.gradientMap{
  margin-top: 10px;
  margin-left: 1%;
  width: 25%;
  margin-bottom: 40px;
  height: 4px;
  background-image:linear-gradient(to right,#276274,#33C58E,#63fd88);
}
.secondPanel{
  height: 500px;
  width: 100%;
  background-color:#292929;
  transform: skewY(6deg);
  border-top: 3px solid rgba(255,255,255,.1);
}
.secondRecovery{
  position: relative;
  transform: skewY(-6deg);
}
.secondRecovery h1{
  position:absolute;
  left:50%;
  top: -20px;
  font-size: 60px;
  color: #d6ed17ff;
  text-transform: uppercase;
}
.secondRecovery container{
  position:absolute;
  top:100px;
  right:0;
  max-width: 50%;
}
.secondRecovery img{
  display: block;
  float: left;
  margin-left: 10%;
}
.secondRecovery p{
  font-size: 14px;
  margin-right: 3%;
  line-height: 1.3;
}
.secondgradientMap
{
  position: absolute;
  top: 50px;
  margin-left: 45%;
  width: 13%;
  margin-bottom: 40px;
  height: 4px;
  background-image:linear-gradient(to right,#276274,#33C58E,#63fd88);
}
.IndividualChanging{
  position:relative;
  display: flex;
  justify-content:center;
  width:100%;
}

.IndividualChanging div{
  position: relative;
  margin:0 1%;
  background-color: #161719;
  width:23%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000000;
  color: #9fa2a7;
}
.IndividualChanging div p{
  padding: 10% 5%;
  font-size: 14px;
}
.IndividualChanging div h3{
  position: absolute;
  top: 5px;
  left: 40%;
}
.YoutubeWorkCall{
  position:relative;
  margin-top: 5%;
}
.YoutubeWorkCall div{
  width: 64%;
  border-bottom: 1px solid #9fa2a7;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.YoutubeWorkCall p{
  text-align: center;
  font-size: 10px;
  color: #9fa2a7;
  text-transform: uppercase;
}
.Slide{
  position: relative;
  width: 84%;
  height: 270px;
  border-radius: 50px;
  margin:50px auto 0;
}
.Slide .next, .Slide .prev{
  position: absolute;
  top: 50%;
  width: 40px;
  height:40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #666;
  color: white;
  transition: all 0.7s;
  font-size: 20px;
  z-index: 3;
}
.Slide .next:hover, .Slide .prev:hover{
  opacity: 1;
  background-color: #444;
}
.Slide .prev{
  left:-60px;
}
.Slide .prev::before{
  content: "<";
}
.Slide .next::before{
  content: ">";
}
.Slide .next{
  right:-60px;
}
.Slide>ul{
  list-style:none;
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}
.Slide>ul>li{
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 0;
  height: 0;
  margin:0;
  padding:0;
  border: 3px solid rgba(255,255,255,.9);
  cursor:pointer;
  background-color: #333;
}
.Slide>ul>li>img{
  width: 100%;
  height: 100%;
}
#ITWork {
  background-color: white;
  position: relative;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
#ITWork h1{
  position: absolute;
  top:20px;
  left:20px;
  font-size: 20px;
  color: #d6ed17ff;
  text-transform: uppercase;
}
.TittleTab{
  height: 60px;
  width: 170px;
  float:left;
  border-right: 30px solid transparent;
  border-top: 60px solid rgba(0,0,0,.85);
}
#ITWork holder{
  position: absolute;
  bottom: 20px;
  left:10px;
  font-size: 14px;
  color: black;
}
#ITWork holder div{
  background-image: linear-gradient(to right,#f1eab9,#ff8c8c);
  margin-left: 20px;
  margin-top: 5px;
  width: 200px;
  height: 5px;
}
.Theater{
  display: flex;
  justify-content: center;
}
.cinema{
  position: relative;
  width: 690px;
  height: 410px;
  margin-left: 1%;
  margin-top: 1%;
  padding: auto;
  background-color: #222;
}
.cinema iframe{
  margin-left: 5%;
  margin-top:2.5%;
  width: 90%;
  height: 90%;
}
.ChatBox{
  position: relative;
  margin-left:1%;
  margin-right: 1%;
  margin-top: 1%;
  width:49%;
  height: 410px;
}
.ChatBox .horizontal{
  position: absolute;
  background-color: #222;
  width: 30%;
  height: 15px;
}
.ChatBox .vertical{
  position: absolute;
  background-color: #222;
  width: 15px;
  height: 100px;
}
.ChatBox .SecondHorizontal{
  bottom: 0;
  right:0;
}
.ChatBox p{
  position: absolute;
  top:30px;
  left:5%;
  width: 90%;
  height: 350px;
  line-height: 1.5;
  font-size: 13px;
}
.ChatBox p::after{
  content: '-Crafty Circus';
  display: inline;
  font-size: 20px;
  font-style: italic;
  float: right;
}
.ITTechShowCall{
  margin-top: 20px;
  position:relative;
}
.ITTechShowCall div{
  width: 64%;
  border-bottom: 1px solid #9fa2a7;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.ITTechShowCall p{
  text-align: center;
  font-size: 10px;
  color: #9fa2a7;
  text-transform: uppercase;
}
.OpeningProject{
  position: relative;
  width:100%;
  margin-top: 200px;
}
.OpeningProject .white{

  background-color: rgba(0,0,0,.7);
  border-top: 3px solid rgba(255,255,255,.5);
  transform: skewY(-6deg);
  width: 100%;
  height: 300px;
  margin-bottom: -250px;
  z-index: 0;
}
.OpeningProject .black{

  background-color: rgba(255,255,255,.05);
  border-top: 3px solid rgba(255,255,255,.1);
  margin-top:-25px;
  width: 100%;
  height: 200px;
}
.OpeningProject .red{
  font-size: 85px;
  font-weight: bold;
  margin-left: 100px;
  transform: skewY(6deg);
  color: #d6ed17ff;
  text-transform: uppercase;
}
.OpeningProject .white img{
  position: absolute;
  top: -160px;
  right:40px;
  transform: skewY(6deg);
}
#ProjectIdeas{
  margin-top: 100px;
  border-radius: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #26272b;
  font-size: 14px;
  box-shadow: -5px 5px 5px 2px rgba(0,0,0,.5);
  padding: 20px;
  z-index: 2;
  transform: translate(0px);
}
#ProjectIdeas h1{
  margin-top: 10px;
  color: #d6ed17ff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  z-index: 2;
}
#ProjectIdeas p{
  line-height: 1.5;
  border-radius: 20px;
  padding: 20px;
  -moz-box-shadow:    inset 0 0 12px rgba(0,0,0,.8);
  -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.8);
  box-shadow:         inset 0 0 12px rgba(0,0,0,.8);
  background-color: #141517;
  margin-bottom: 5px;
  bottom: 20px;
  z-index: 2;
}
#ProjectIdeas div{
  width: 200px;
  height: 6px;
  margin-left: 30px;
  margin-bottom: 5px;
  background-image:linear-gradient(to right,#00b7ff,#ffffc7 );
}
#FeedBack{
  margin-top: 40px;
  position:relative;
  width: 100%;
  height: 670px;
}
#FeedBack .selection{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  justify-content: center;
}
#FeedBack .selection img{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.5);
}
#FeedBack .selection div{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 65px;
  font-weight: bolder;
  margin-top: 10px;;
  text-align: center;
  text-transform: uppercase;
  color: #d6ed17ff;
}
#FeedBack .selection p{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
  margin-top: 10px;;
  text-align: center;
  color: #9fa2a7;
}
#FeedBack .selection img:hover{
  filter: brightness(65%);
}
#FeedBack .container{
  width: 100%;
  height: auto;
}
#FeedBack .container .image{
  position: relative;
  display: block;
  width: 40%;
  height: inherit;
}
#FeedBack .container .image img{
  position:absolute;
  right:140px;
}
.Appearance{
  animation-name: entrance;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes entrance{
  0%{
    right:-40px;
    filter: blur(15px);
    opacity: 0;
  }
  50%{
    filter: blur(3px);
    opacity: 0.9;

  }
  100%{
    right:140px;
    filter: blur(0px);
    opacity: 1;
  }
}
#FeedBack .container .feedback{
  margin-top: 40px;
  display: block;
  float:right;
  width: 60%;
  height: auto;
}
#FeedBack .container .feedback .ChatBox{
  position:relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  width: 90%;
  padding: 0px;
  background-color: #26272b;
  border-radius: 20px;
  height: 100px;
}
#FeedBack .container .feedback .ChatBox p{
  position: absolute;
  font-size: 12px;
  top:6px;
  left: 10px;
  color:#9fa2a7;
  padding: 4px;
}
#firstComment::after{
  color: white;
  content: '-Khoa';
  display: inline;
  font-size: 16px;
  font-style: italic;
  float: right;
}
#secondComment::after{
  color: white;
  content: '-Kent';
  display: inline;
  font-size: 16px;
  font-style: italic;
  float: right;
}
#thirdComment::after{
  color: white;
  content: '-Phong';
  display: inline;
  font-size: 16px;
  font-style: italic;
  float: right;
}
#forthComment::after{
  color: white;
  content: '-Nhat';
  display: inline;
  font-size: 16px;
  font-style: italic;
  float: right;
}
